body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    }

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    width: 80%;
}

.text-content {
    width: 60%;
    text-align: center;
}

h1 {
    border: 3px solid blue;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
}

p {
    font-weight: bold;
    font-size: 24px; /* Adjust the size as needed */
    text-decoration: none;
}

.image-content img {
    width: 400px;
    height: auto;
}
.logo-container {
    margin-top: 10%;
    text-align: center; /* Centers the logo */
    padding: 20px 0; /* Adds some space around the logo */
}

.company-logo {
    max-width: 200px; /* Adjust the size of the logo */
    height: auto; /* Keep the aspect ratio */
}
