body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    }

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    width: 80%;
}

.text-content {
    width: 60%;
    text-align: center;
}

h1 {
    border: 3px solid blue;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
}

p {
    font-weight: bold;
    font-size: 18px; /* Adjust the size as needed */
    text-decoration: underline;
}

.image-content img {
    width: 300px;
    height: auto;
}
